.contact {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .contact-title {
        font-size: 1.8rem;
        padding: 8px;
        margin: 0;
        font-size: 2.4rem;
        text-transform: uppercase;


    }
    .contact-email {
        padding: 8px;
        margin: 0;
        float: left;

        .contact-email-icon {
            margin-right: 8px;
        }

    }

    .contact-phone {
        padding:  8px;
        margin: 0;
        float: left;

        .contact-phone-icon {
            margin-right: 8px;
        }
    }
}